.org-profile p {
  font-size: 10px;
}

.org-profile h4 {
  font-size: 15px;
  color: #4497bd;
  text-align: center;
}

.org-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  min-width: 138px;
  min-height: 207px;
  margin-top: 10px;
  color: #4497bd;
  margin-bottom: -10px;
}

.org-profile-type {
  margin-top: -10px;
}

.org-profile-pic {
  width: 120px;
  height: 110px;
  border-radius: 50%;
}

.org-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 11px;
}

.org-follow-btn {
    width: 70px;
    height: 20px;
    left: 45px;
    top: 278px;
    background: #DD6956;
    border-radius: 20px;
    color: #F2E2B0;
}

.color-break {
  background-color: #f2e2b0;
  height: 10px;
}

.org-name {
  margin-top: 5px;
  color: #4497bd;
} */

.org-new-call-btn {
    position: absolute;
    width: 130px;
    height: 20px;
    left: 14px;
    top: 314px;
    background: #DD6956;
    border-radius: 20px;
}

.org-prof-information {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #DD6956;
}

.org-prof-description {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #574947;
}

.org-prof-website {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #4497BD;
}

.org-prof-phone {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #4497BD;
}

.org-msg-share {
    display: flex;
    justify-content: flex-end;
}

.org-share-icon {
    margin-left: 10px;
}

.org-info-cont {
    margin-left: 20px;
    margin-right: 20px;
}

.org-prof-email {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #4497BD;
}