.calendar-item {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
  width: 100%;
  margin-bottom: 15px;
}

.top-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

#title {
  font-weight: 500;
  font-size: 14px;
  color: #4497BD;
  width: 50%
}

