/* VOLUNTEER INTERESTS */

.volunteer-interests {
  display: flex;
  align-items: baseline;
  margin: 20px;
  justify-content: center;
}

.volunteer-interests h6 {
  margin-bottom: 0;
}

.volunteer-profile h6 {
  margin: 5px 0 0 0;
}

.volunteer-interests h4 {
  color: #dd6956;
  text-align: center;
}

.volunteer-interests h6 {
  color: #4497bd;
  font-size: 12px;
}

.interests-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0 5px 0 5px;
}

.interests-right-side,
.interests-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.interests-right-side {
  margin-left: 10px;
}

.interests-left-side {
  margin-right: 10px;
}

.volunteer-int-container {
  display: flex;
  justify-content: center;
}
