/*first layers*/
.popup_over_layer {
    position:fixed;
    width: 100%;  
    height: 100%;
    top:0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin:auto;
    background-color: rgba(0,0,0, 0.5);
}
.popup_window {
    position:absolute;
    left: 5%;
    right: 5%;
    top: 10%;
    bottom: 15%;
    margin: auto;
    background: #F5F2EE;
    border-radius: 15px;
  }
.popup_window.networking{
    top: 20%;
    bottom: 55%;
  }
.popup_window.privacy{
    top: 10%;
    bottom: 30%;
}
.popup_content {
    display:flex;
    flex-direction:column;
    width:100%;
    height: 100%;
    margin:0px;
    padding:0px;
    font-family: Roboto;
    font-style: normal;
}

/*title and other text tags*/
.popup_title {
    width: 100%;
    height: 10px;
}
.label{
    font-weight: bold;
    padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
    color: #DD6956;
}

.radio-desc {
    font-weight:normal;
    padding-left: 20px;
    font-size: 12px;
    line-height: 14px;
}
.networking .popup_content .popup_title .label{
    padding-left: 0;
}

.popup_content .popup_title .label{
    padding-left: 20px;
}

.popup_interest_row {
    display:flex;
    flex-direction: row;
    height:60px;
}
.popup_interest_row.first {
    margin-top: 30px;
}

.privacy .popup_interest_row{
    align-items: center;
}

.popup_column_left {
    padding-left: 10px;
    width:50%;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}

.popup_column_left.networking {
    margin: auto;
    text-align: center;
    width:67%;
}
.popup_title .popup_column_left.networking{
    padding-left: 0;
}

.popup_column_right {
    width:50%;
    padding-right: 20px;
    padding-top: 5px;
}
.popup_column_right.networking {
    width:86%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.interest-text{
    border: 0;
    box-sizing: border-box;
    border-radius: 5px;
}
.interest-text:focus{
    outline:none;
}
.interest-text.networking{
    width:250px;
}
.interest{
    width: 34px;
    height: 14px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #4497BD;
}
.btn-save.networking {
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #DD6956;
    color: #F2E2B0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
.popup_content .btn-desc-save{
    top: inherit;
    left: inherit;
    position: relative;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}





