/*font-styles*/
.main{
    border:1px blue solid;
    display:flex;
    flex-direction: column;
    width:318px;
    height:100%;
    margin:0px;
    padding:0px;
    font-family: Roboto;
    font-style:normal;

}
.title{
    border:solid 1px red;
    padding-left: 10px;
    width:307px;
    height:5%;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #574947;
}
.lower_font{
    font-size: 7px;
    margin-top:0px;
    font-weight: normal;
}
.lower_font_button{
    font-size: 7px;
    margin-top:0px;
    font-weight: normal;
    padding-left: 16px;
}

/*button decoration*/

.button-decoration {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-align:center;
  color:#F2E2B0;
  width:130px;
  height:20px;
  background: #4497BD;
  border-radius: 20px;
}
/*first block*/
.first_data{
    border:solid 1px aquamarine;
    width:100%;
    height:10%;
    display:flex;
    flex-direction: row;
}
.first_left{
    border:solid 1px deeppink;
    padding-left: 10px;
    width:30%;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.first_right{
    border:solid 1px darkgreen;
    width:70%;
    padding-left: 70px;
    padding-top: 5px;
}
.input_field{
    width:137px;
    height:18px;
    left:170px;
    top:50px;
    border: 1px solid #574947;
    box-sizing: border-box;
    border-radius: 5px;
}
.input_field:focus{
    outline:none;
}

/*second block*/
.second_data{
    border:solid 1px greenyellow;
    height:10%;
    display:flex;
    flex-direction: row;
}
.second_left{
    border:solid 1px deeppink;
    padding-left: 10px;
    width:30%;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.labels{
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 10px;
}
.second_right{
    border:solid 1px darkgreen;
    width:70%;
    padding-left: 70px;
    padding-top: 5px;
}

/*third block*/

.third_data{
    border:solid 1px yellow;
    height:10%;
    display:flex;
    flex-direction: row;
}
.third_left{
    border:solid 1px deeppink;
    width:34%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.third_center{
    border:solid 1px darkgreen;
    width:5%;
}
.third_right{
    border:solid 1px darkgreen;
    width:51%;
    padding-left:17px;
    padding-top: 10px;
}
.location_icon{
    height: 17px;
    width: 24px;
    margin:0px;
    padding-top:10px;

}

/*fourth block*/
.fourth_data{
    border:solid 1px navajowhite;
    height:100%;
    display:flex;
    flex-direction: row;
}
.fourth_left{
    border:solid 1px deeppink;
    width:40%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.fourth_right{
    border:solid 1px pink;
    width:60%;
    padding-left: 40px;
    padding-top: 5px;
}
/*fifth block*/
.fifth_data{
    border:solid 1px darkred;
    height:10%;
    display:flex;
    flex-direction: row;
}
.fifth_left{
    border:solid 1px rebeccapurple;
    width:40%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.fifth_right{
    border:solid 1px blue;
    width:60%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
/*sixth_block*/
.sixth_data{
    border:solid 1px darkred;
    height:10%;
    display:flex;
    flex-direction: row;
}
.sixth_left{
    border:solid 1px rebeccapurple;
    width:40%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}

.sixth_right{
    border:solid 1px blue;
    width:60%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
/*seventh_block*/
.seventh_data{
    border:solid 1px hotpink;
    height:10%;
    display:flex;
    flex-direction: row;
}
.seventh_left{
    border:solid 1px rebeccapurple;
    width:50%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.seventh_right{
    border:solid 1px pink;
    width:60%;
    padding-left: 15px;
    padding-top: 5px;
}
/*eight_block*/
.eighth_data{
    border:solid 1px blueviolet;
    height:10%;
    display:flex;
    flex-direction: row;
}
.eighth_left{
    border:solid 1px rebeccapurple;
    width:55%;
    padding-left: 10px;
    font-weight: bold;
    font-size: 10px;
    color: #574947;
}
.eighth_right{
    border:solid 1px pink;
    width:45%;
    padding-left: 30px;
    padding-top: 5px;
}
.camera{
    width:40px;
    height:40px;
}
/*ninth block*/
.ninth_data{
    border:solid 1px darkred;
    height:10%;
    display:flex;
    flex-direction: row;
    padding-left:93px;
    padding-right:93px;
}
.ninth_middle{
    color: #F2E2B0;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align:center;
    width:130px;
    height:20px;
    border-radius: 20px;
    justify-content: center;
    background: #DD6956;
}