/* Guestlist */

.guestlist {
  background-color: #f2e2b0;
  margin-top: 5px;
  height: 100vh;
}

.guestlist-title p {
  font-size: 12px;
  color: #dd6956;
  margin-left: 15px;
  margin-bottom: 18px;
  font-weight: 500;
}

.guestlist-title {
  display: flex;
  margin-bottom: 10px;
  height: 50px;
  background-color: #f5f2ee;
  align-items: center;
  border-radius: 10px;
}

.guest {
  display: flex;
  background-color: #f5f2ee;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.guest image {
  width: 28px;
  height: 28px;
  left: 15px;
  top: 120px;
  background: #c4c4c4;
  border-radius: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

.guest p {
  color: #4497bd;
  font-size: 10px;
  font-weight: 500;
}
