/* Guestlist */

html {
  background-color: #F2E2B0;
  width: 100%;
  height: 100%
}


.guestlist {
  background-color: #F2E2B0;
  margin-top: 5px;
}

.guestlist-title p {
  font-size: 12px;
  color: #DD6956;
  margin-left: 15px;
  margin-bottom: 18px;
  font-weight: 500;
}

.guestlist-title {
  display: flex;
  margin-bottom: 10px;
  height: 50px;
  background-color: #F5F2EE;
  align-items: center;
  border-radius: 10px;
}

.guest {
  display: flex;
  background-color: #F5F2EE;
  height: 50px;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.guest image {
  width: 28px;
  height: 28px;
  left: 15px;
  top: 120px;
  background: #C4C4C4;
  border-radius: 20px;
  margin-right: 16px;
  margin-left: 16px;
}

.guest p {
  color: #4497BD;
  font-size: 10px;
  font-weight: 500;
}