/* Volunteer profile */

/* .volunteer-profile p {
  font-size: 10px;
}

.volunteer-profile h4 {
  font-size: 15px;
  color: #4497bd;
  text-align: center;
}

.volunteer-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  min-width: 138px;
  min-height: 207px;
  margin-top: 10px;
  color: #4497bd;
  margin-bottom: -10px;
}

.volunteer-profile-type {
  margin-top: -10px;
}

.volunteer-profile-pic {
  width: 120px;
  height: 110px;
  border-radius: 50%;
}

.volunteer-buttons button {
  width: 130px;
  height: 20px;
  background: #4497bd;
  border-radius: 20px;
}

.volunteer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 11px;
}

.color-break {
  background-color: #f2e2b0;
  height: 10px;
}

.volunteer-name {
  margin-top: 5px;
  color: #4497bd;
} */

/* VOLUNTEER INTERESTS */
/* 
.volunteer-interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 10px solid #f2e2b0;
  margin-top: -30px;
}

.volunteer-interests h4,
h6 {
  margin-bottom: 0;
}

.volunteer-interests h4 {
  color: #dd6956;
  text-align: center;
}

.volunteer-interests h6 {
  color: #4497bd;
  font-size: 12px;
}

.interests-box {
  width: 40%;
  margin-bottom: -10px;
  padding-right: 10px;
  padding-left: 10px;
}

.org-new-call-btn {
    position: absolute;
    width: 130px;
    height: 20px;
    left: 14px;
    top: 314px;
    background: #DD6956;
    border-radius: 20px;
} */