.org-profile p {
  font-size: 10px;
}

.org-profile h4 {
  font-size: 15px;
  color: #4497bd;
  text-align: center;
}

.org-intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  min-width: 138px;
  min-height: 207px;
  margin-top: 10px;
  color: #4497bd;
  margin-bottom: -10px;
}

.org-profile-type {
  margin-top: -10px;
}

.org-profile-pic {
  width: 120px;
  height: 110px;
  border-radius: 50%;
}

.org-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 11px;
}

.org-edit-btn {
    width: 130px;
    height: 20px;
    left: 26px;
    top: 280px;
    background: #4497BD;
    border-radius: 20px;
}

.org-approve-btn {
    width: 130px;
    height: 20px;
    left: 210px;
    top: 280px;
    background: #4497BD;
    border-radius: 20px;
}

.color-break {
  background-color: #f2e2b0;
  height: 10px;
}

.org-name {
  margin-top: 5px;
  color: #4497bd;
} */

.org-create-call-btn {
    width: 130px;
    height: 20px;
    border: 1px solid red;
    background: #DD6956;
    border-radius: 20px;
    margin: 10px;
}