/* Home */

.home-logo {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.home-short-info {
  display: flex;
}

.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
