/* Registration */

.registration {
  display: flex;
  flex-direction: column;
  border-top: 10px #f2e2b0 solid;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.activation-message {
  width: 60%;
  text-align: center;
}

.registration h4 {
  color: #4497bd;
  font-weight: 500;
}

.registration button {
  width: 130px;
  height: 20px;
  background: #4497bd;
  border-radius: 20px;
}

.registration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registration input {
  padding: 7px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 20px;
}

.registration button {
  margin-top: 20px;
}
