.event {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-bottom: 16px;
}

.event-body {
  display: flex;
  flex-direction: column;
  border: 1px solid #574947;
  box-sizing: border-box;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
}

.event-body-right img {
  margin-bottom: 5px;
}

.event-body-top {
  display: flex;
}

#date {
  color: #574947;
  border-radius: 10px;
  font-weight: normal;
}

#title {
  color: #4497BD;
}

#place {
  margin-top: 0px;
}

.event-body-top {
  display: flex;
  justify-content: space-between;
}

.event-body-middle {
  display: flex;
}

#description {
  font-weight: normal;
}

.even-body-right {
  display: flex;
  flex-direction: column;
}

.event-body-bottom {
  display: flex;
}

.icons {
  width: 50%;
}

.peopleGoing {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}

.peopleGoing p {
  margin-top: 3px
}

.peopleGoing img {
  margin-right: -6px;
}

.people {
  display: flex;
  margin-right: 6px;
}

#pic1{
  z-index: 2;
}

#pic2{
  z-index: 1;
  height: 22px;
  background-color: #E5E5E5
}

#pic3{
  z-index: 0;
  height: 22px;
  background-color: khaki;
}