/* Header/Navbar section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
  color: #dd6956;
}

.navbar a.chosen {
  border-bottom: 5px solid #4497bd;
}

.companyName {
  margin: 8px;
  color: #dd6956;
}

a {
  text-decoration: none;
}

.call {
  font-weight: lighter;
}

.in {
  font-weight: 900;
}

.right-nav {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.left-nav {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.navbar svg {
  color: #dd6956;
}

.Header-li {
  list-style: none;
  padding-right: 10px;
}
