/* Header/Navbar section */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0 10px 0 10px;
  color: #dd6956;
}

.right-nav {
  display: flex;
  align-items: center;
  margin-right: 14px;
}

.left-nav {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.Header-li {
  list-style: none;
}
