.feedVolunteer-orgname {
  color: #4497bd;
}

.feedVolunteer-title,
.feedVolunteer-orgname,
.feedVolunteer-right-side {
  font-size: 10px;
  color: #574947;
}

.feedVolunteer-title {
  margin: 10px;
}

.feedVolunteer-location {
  font-size: 12px;
  color: #574947;
}

.feedVolunteer-call {
  margin: 20px 25px;
}

.org-photo {
  min-width: 56px;
  height: 56px;
  border-radius: 50%;
}

.feedVolunteer-organisation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.feedVolunteer-organisation-name {
  width: 30%;
  display: flex;
  flex-direction: row;
}

.feedVolunteer-organisation-location {
  width: 30%;
  display: flex;
}

.feedVolunteer-organisation-location img {
  padding-right: 5px;
}

.feedVolunteer-call-box {
  border: 1px solid #574947;
  border-radius: 10px;
  min-width: 250px;
  height: 100%;
}

.feedVolunteer-organisation-name {
  align-items: center;
}

.feedVolunteer-call-img {
  width: 268px;
  min-height: 230px;
  background-color: rgb(204, 199, 199);
  margin: 0;
  padding: 0;
}

.feedVolunteer-call-main {
  display: flex;
  padding: 10px;
}

.feedVolunteer-side-buttons {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.feedVolunteer-side-buttons img {
  margin-bottom: 5px;
}

.feedVolunteer-right-side {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 5px;
}
