.top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  border: none;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 7%
}

.top p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #DD6956;
}

.list {
  /* display: flex; */
  /* width: 76%; */
  margin-left: 5%;
  margin-right: 5%;
}
